<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>home_getguide_icon</string>
		<key>title</key>
		<string>导游</string>
		<key>bgColor</key>
		<array>
			<integer>255</integer>
			<integer>241</integer>
			<integer>79</integer>
			<string>126</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_pickup_icon</string>
		<key>title</key>
		<string>接送机</string>
		<key>bgColor</key>
		<array>
			<integer>255</integer>
			<integer>245</integer>
			<integer>198</integer>
			<string>59</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_translation_icon</string>
		<key>title</key>
		<string>翻译</string>
		<key>bgColor</key>
		<array>
			<integer>255</integer>
			<integer>240</integer>
			<integer>151</integer>
			<string>43</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_rentbus_icon</string>
		<key>title</key>
		<string>大巴</string>
		<key>bgColor</key>
		<array>
			<integer>255</integer>
			<integer>31</integer>
			<integer>155</integer>
			<string>222</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_vip_icon</string>
		<key>title</key>
		<string>私人定制</string>
		<key>bgColor</key>
		<array>
			<integer>255</integer>
			<integer>165</integer>
			<integer>73</integer>
			<string>214</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_meal_icon</string>
		<key>title</key>
		<string>团餐</string>
		<key>bgColor</key>
		<array>
			<integer>255</integer>
			<integer>25</integer>
			<integer>189</integer>
			<string>155</string>
		</array>
	</dict>
</array>
</plist>
